@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Kumbh Sans", sans-serif;
}
section{
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.card-component{
    background-color: white;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    text-align: center;
}
.photo-profile{
    border-radius: 50%;
    border:5px solid white;
    overflow: hidden;
    margin-top: -50px;
}

.profile{

    padding-bottom:30px;
}
span{color: hsl(0, 0%, 59%);}

.name-age{
    padding-top: 20px;
}
.location{
    font-size: small;
    color: hsl(0, 0%, 59%);
    margin-top: 15px;
}

.status{
    margin: 7%;
    float: left;
    padding-left: 10px;
    font-weight: bold;
}

.stat-cat{
    font-size: 14px;
    padding-top: 7px;
}