@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    font-family: "Kumbh Sans";
    background-color: hsl(185, 75%, 39%);
}

.card-component{
    background-color: white;
    grid-template: "cover", "profile", "footer";
    grid-template-columns: 300px;
    grid-row: 210px 210px 80px;
    position: absolute;
    border-radius: 15px;
    
}
.cover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}